.NavigationItem {
    margin: 10px 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.NavigationItem a {
    color: #e25036;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #367be2;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
    }

    .NavigationItem a {
        color: black;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }

    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #e27b36;
        border-bottom: 4px solid #e25036;
        color: white;
    }
}